html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}


#screen {
    position: relative;
    #btn-container {
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);
        // background-color: rgb(82, 77, 77);
        width: 700px;
        height: 300px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .btn {
            position: relative;
            opacity: 0;
            width: 200px;
            height: 200px;
            // border-radius: 50%;

            &::before {
                z-index: -1;
                content: "";
                pointer-events: none;
                width: 100%;
                height: 100%;
                // border-radius: 50%;
                position: absolute;
                top: 0;
                left: 0;
                background-image: url("/assets/img/tetris/btn.png");
                opacity: 0.8;
            }
            
            &:hover {
                &::before {
                    opacity: 1;
                }
            }

            a {
                width: 100%;
                height: 100%;
                text-decoration: none;
                display: flex;
                justify-content: center;
                align-items: center;
                
                span {
                    font-size: 68px;
                }
            }

        }

        .btn:nth-child(1) {
            span {
                color: rgb(50, 50, 187);
            }
        }
        
        .btn:nth-child(2) {
            span {
                color: rgb(214, 40, 34);
            }
        }
    }
}

.apear {
    animation: apear 1s ease-in 0s 1 forwards;
}
@keyframes apear {
    100% {
        opacity: 1;
    }
}
