.input-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    width: 70%;
    height: 10%;
    background-color: rgb(224, 228, 240);
    border-radius: 10px;
    box-shadow: 0 0 2px rgb(91, 135, 172);
    box-shadow: 0 0 4px rgb(91, 135, 172);
    .input {
        textarea {
            background-color: rgb(224, 228, 240);
            resize: none;
            position: absolute;
            font-size: 16px;
            left: 35px;
            bottom: 5px;
            width: 65%;
            box-sizing:'border-box';
            border: none;
            outline: none;
            border-radius: 5px;
            padding: 0;
            margin: 0;
        }
        
        [type="submit"] {
            cursor: pointer;
            position: absolute;
            right: 30px;
            bottom: 5px;
            width: 50px;
            height: 40px;
            margin-left: 40px;
            font-size: 16px;
            color: rgb(241, 245, 248);
            background-color: rgb(58, 104, 231);
            border: 2px rgb(44, 92, 221) outset;
            border-radius: 5px;
            box-shadow: 0px 2px rgb(37, 85, 216);
            
            &:hover {
                opacity: 0.8;
            }
            
            &:active {
                transform: translateY(2px);
                box-shadow: none;
            }
        }
    }

    transition: box-shadow 0.1s linear 0.1s; 

    &.active {
        $shadow-color: rgb(73, 84, 235);
        box-shadow: 0 0 2px $shadow-color;
        box-shadow: 0 0 4px $shadow-color;
        box-shadow: 0 0 6px $shadow-color;
        box-shadow: 0 0 8px $shadow-color;
        box-shadow: 0 0 14px $shadow-color;
    }

}
